@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Gochi+Hand&display=swap');

body{
    background: radial-gradient(circle,#24246e,#06051f);
    height: 100vh;
}
.wrapper span{
    position: fixed;
    top: -120px;
    height: 50px;
    width: 50px;
    z-index: -1;
    animation: animate 10s linear infinite;    
}
.wrapper span:nth-child(1){
    left: 60px;
    animation-delay:0.1s;
    border: 5px solid cyan;
}
.wrapper span:nth-child(2){
    left: 60%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
    background: #ff4293;
}
.wrapper span:nth-child(3){
    left: 20%;
    animation-delay: 2s;
    border: 5px solid #fff;    
}
.wrapper span:nth-child(4){
    left: 30%;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
    background: #befb46;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
    border: 5px solid #ff4293;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
    border: 5px solid deepskyblue;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
    background: #ffd59e;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
    border: 5px solid #befb46;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
    background: cyan;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
    border: 5px solid #fff;    
}
.banner{
    display: flex;
    justify-content:space-around;
    align-items:self-start;
    height: 100vh;
}
.content h2{
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
    font-family: montserrat;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 12px;
    line-height: 0.9;
}
.content h2 b{
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

h2{
    margin-left: 15%;
}



@keyframes animate{
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    80%{
        opacity: 0.7;
    }
    100%{
        transform: translateY(800px) rotate(360deg);
        opacity: 0;
    }
}

/*.first{
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
    color:plum;
}

.next{
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
    color:#ffd59e;
}*/

/*.one{
    color: #15b5c4;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}

.two{
    color: #51d58c;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}

.three{
    color: #7c7dcc;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}
.four{
    color: #ffa789;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}

.five{
    color: #006d77;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}
*/

.one{
    color: #15b5c4;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}

.two{
    color: #51d58c;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}

.three{
    color: #7c7dcc;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}
.four{
    color: #ffa789;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}

.five{
    color: #006d77;
    font-family: Gochi Hand;
    display: flex;
    font-size: 30px;
}
